.index-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    &__buttons {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
}

textarea {
    height: 200px!important;
}